
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}

.app {
  padding: 30px;
  display: flex;
  background-color: rgb(58, 146, 146);
  border-radius: 20px;
}

.app > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}
.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
}